<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>squiggleewebui</display-name>
  <servlet>
    <servlet-name>configure</servlet-name>
    <jsp-file>/configure.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>configure</servlet-name>
    <url-pattern>/configure</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>match</servlet-name>
    <jsp-file>/match.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>match</servlet-name>
    <url-pattern>/retrieve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>summarize</servlet-name>
    <jsp-file>/summarize.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>summarize</servlet-name>
    <url-pattern>/summarize</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>operate</servlet-name>
    <jsp-file>/operate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>operate</servlet-name>
    <url-pattern>/operate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajax</servlet-name>
    <jsp-file>/ajaxHandler.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajax</servlet-name>
    <url-pattern>/ajaxHandler</url-pattern>
  </servlet-mapping>
</web-app>