clusterName=TSR_EC2_CLUST
logicalNumber=0
indexChunkSize=2000
indexNumChunks=10
sketchChunkSize=5000
sketchNumChunks=20
serializerType=AVRO
overlayTimerInterval=20
vdbFile=/opt/jboss-as-7.1.1.Final/standalone/deployments/TIMESERIESGLOBAL-vdb.xml
pingTimerInterval=20
configurationServiceInterval=20
addr=127.0.0.1
dc=local
name=Node1
isBoot=yes
isSeed=yes
replicaOf=0
storage=10
stype=Medium
id=localhost
scriptLocation=/home/ec2-user/ansible
serviceLocation=/opt/tsr/services
ansibleExe=/usr/local/bin/ansible-playbook
jobStartLocation=/opt/tsr/services
maxMatchCandidates=200
localDataCenter=us-east
zkSeeds=127.0.0.1:2181
zkovSeeds=127.0.0.1:2191
sessionTimeoutCoord=10000
statusTTL=20
tsStoragePath=/data
tsStorageProvider=com.squigglee.storage.mbb
maxClaimsSync=5
maxClaimsPattern=1
maxClaimsSketch=5
batchSyncTaskCount=100
batchIndexingTaskCount=100
cepEventExpiration=300
cepEventStorageBatchSize=10000
cepEventStorageInterval=5
sqlQueryLimit=20000
dataHandlerThreads=10